on: [push]

permissions:
  issues: write

jobs:
  notify_new_releases:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Check new php releases.
        uses: ./
        with:
          repo-token: ${{ github.token }}
          repo: notify-php-release-action
          owner: nulxrd
          localfile: .releases
